<section class="container left column list">
  <!--<div class="about">-->
    <div style="float: right;margin-top: 50px;">{{ partialCached "home/avatar.html" . }}</div>
    <div style="float: left;width: 500px;">{{ partialCached "home/author.html" . }}</div>
    <div style="float: left;">{{ partialCached "home/extensions.html" . }}</div>
    <div class="recent-posts" style="float: left;width: 650px;">
      <h3 class="left">Recent Posts</h3>
      <ul>
      {{- range ( where .Site.RegularPages "Type" "posts" | first 3 )  -}}
        <li>
          <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
          <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{- end -}}
      </ul>
    </div>
    <div class="right" style="float:right;">{{ partialCached "home/social.html" . }}</div>


</section>

<!-- <section class="container centered column list">
   <div class="recent-posts">
    <h3 style="color:Navy;" class="centered">Recent Posts</h3>
    <ul>
    {{- range ( where .Site.RegularPages "Type" "posts" | first 3 )  -}}
      <li>
        <span class="date">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006" ) }}</span>
        <a class="title" href="{{ .Params.ExternalLink | default .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{- end -}}
    </ul>
  </div> 


</section> -->




