<div class="custom-author">
    <h1>{{ .Site.Params.author | emojify}}</h1>
</div>
<div class="custom-author-info">
    {{ if reflect.IsSlice .Site.Params.info }}
    <p>{{ range .Site.Params.info }}{{ . | markdownify | emojify}}<br>{{ end}}</p>
    {{ else }}
    <p>{{ .Site.Params.info | markdownify | emojify }} </p>
    {{ end }}
    
</div>

